// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

h1, h2, h3, h4, h5, h6, a, label,{
	margin: 0;
	padding: 0;
	border: 0;
}

@import "default/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Neucha');

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
@import "default/_grids.scss";
@import "default/_html-bg.scss";
@import "default/_html-hl.scss";
@import "default/_html-nav.scss";
@import "default/_showrell2.scss";
@import "default/_tes-komar.scss";
@import "default/_tes1v2.scss";
@import "default/_form-valid.scss";
@import "default/_kalkulator.scss";
@import "default/_angkringan01.scss";
@import "default/_angkringan.scss";
@import "default/_hotel.scss";




