.konten-angkringan{
	@include container(1024px);
	height:100vh;
	background: red;
	.kanan{
		@include span(8);
		.item{
			height: 400px;
			background: white;
			position: relative;

			.popup{
				width: 640px;
				height: 300px;
				background-color: salmon;
				position: absolute;
				display: none;
				opacity: 0.9;
				left:20px;
				top: 20px;
				text-align: center;

				#pilihmenu{
					@include span(12);
					// height: 20%;
					background-color: lightgreen;
					position: relative;
					#popimg{
						height: 100px;
						width: 100px;
						margin: auto;
						img{width:100%;height:100%;}
						padding-bottom: 6px;
					}

				}
				#tombolpesan{
					@include span(12);
					background-color: grey;
					height: 100px;
					position: relative;

				}

			}

			.list-item{
				
				.makanan{
					@include span(12);
					.jdul{
						font-size: 20px;
					}
					.kotak{
						@include span(1 of 5);
						img{
							// height: 100%;
							width: 99%;
						}
					}
				}
				.minuman{
					@include span(12);
					.jdul{
						font-size: 20px;
					}
					.kotak{
						@include span(1 of 5);
						img{
							// height: 100%;
							width: 99%;
						}
					}
				}
			}
		}
		.hasil-hitung{
			min-height: 250px;
			background: pink;
		}
	}
	.kiri{
		@include span(4);
		.layout-hitung{
			min-height: 95vh;
			background: grey;
		}
	}
}
