.angkringan{
	@import url('https://fonts.googleapis.com/css?family=Raleway');
	font-family: 'Raleway', sans-serif;
	color:snow;
	
.warning-size{
	height: 100%;
	width:100%;
	background-color: lightgreen;
	position: fixed;
	display: block;
	text-align: center;
	
	h4{
		font-size: 40px;
		word-spacing: 5px;
	}
	@include susy-breakpoint($desktop-size){
		display: none;
	}
}

// === Basic Layout ==
.content{
	$borCol :salmon;
	@include container(1024px);
	min-height:100vh;
	// background-color: #DADAE3;
	background-image: url("/img/bg-pat1.png");
	display: none;
	position: relative;
	.judul{
		@include span(12);
		background-color: #000;
		height: 10vh;	
	}
	.input{
		@include span(8 nest);
		// background-color: #D5E9E9;
		height: 87vh;
		position: relative;
		z-index: 5;
		// border-bottom: 5px double $borCol;
		// border-right: 5px double $borCol;
		overflow: auto;
	
		&::-webkit-scrollbar-track
		{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
		&::-webkit-scrollbar
		{width: 6px;background-color: #F5F5F5;}
		&::-webkit-scrollbar-thumb
		{background-color: aqua;}
	}
	.item{
		@include span(4);
		// background-color: #7B9191;
		min-height: 87vh;
		position: relative;
		// border-bottom: 5px double $borCol;

		.group-tombol{
			@include span(12);
			border-top: 5px double $borCol;
			background-color:rgba(242, 227, 205,0.2);
			height: 12vh;
			position: absolute;
			bottom:0;
			left: 0;
		}
	}
	.bawah{
		@include span(12);
		background-color: #000;
		height: 3vh;
		border-top: 5px double $borCol;
		padding: 3px;
		padding-left: 10px;
		font-size: 12px;
		// position: absolute;
		// bottom:0;	
	}
	@include susy-breakpoint($desktop-size){
		display: block;
	}
}

// === Judul ===
.judul{
	.logo{
		@include span(1);
		// width:65px;
		height: 10vh;
		background-image: url("/img/angkringan/0-logo.jpg");
		background-size: auto 100% ;
		background-position: center center;
		background-repeat: no-repeat;
		// border:1px solid red;
	}
	.switch-span{
		@include span(5);
		// background-color: #4a4a4a;
		height: 10vh;
		position: relative;
	}
	.nama-brand{
		@include span (6);
		text-align: right;
		color: #FFF;
		// line-height: 2vh
		h1{margin-top:15px;margin-bottom:0;}
		h1:hover{color:aqua;text-shadow: 0px 0px 10px #FF0000;}
	}

}

//=== Switch ==
.switch-span{
	$swhe : 34px;
	$swwi : 60px;
	$sthw : 26px;
	$tggL : 30px;
	.kotakSwitch{
		position: absolute;
		left:50%;
		top: 20%;
		.switch{
			background-color: #fff;
			border-radius:32px;
			position: relative;
			height: $swhe;
			width: $swwi;
			label{
				font-size: 32px;
				// width: 100px;
				transition: color .2s ease;
			}
			label:nth-of-type(1){
				position: absolute;
				right: 110%;
				text-align: right;
			}
			label:nth-of-type(2){
				position: absolute;
				left: 110%;
				text-align: left;
			}
			input{
				height: $swhe;
				width: $swwi;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				opacity: 0;
				&:checked{z-index:0;}

				&:checked~label:nth-of-type(1) { color: #fff; }
				&:checked~label:nth-of-type(2) { color: #808080; }

				&~:checked~label:nth-of-type(1) { color: #808080; }
				&~:checked~label:nth-of-type(2) { color: #fff; }

				&:checked~.toggle {left: 4px;}
				&~:checked~.toggle {left: $tggL;}
			}
			.toggle{
				height: $sthw;
				width:$sthw;
				border-radius:50%;
				background-color: lightgreen;
				position: absolute;
				top:4px;
				z-index:1;
				transition: left .2s ease;
			}
		}
	}
}

// === Input > Popup ===
.input{
	.popup{
		background-color:rgba(240,248,255,0.8);
		// opacity: 0.8;
		position: fixed;
		top: 0;
		left:0;
		height: 100%;
		width: 100%;
		display: none;
		// display: flex;
  //   align-items: center;
  //   justify-content: center;

		.popBox{
			max-width: 700px;
			// height: 100%;
			margin: auto;
			margin-top: 12vh;
			position: relative;
			// background-color: rgba(82, 201, 240,0.7);
			background-color: rgba(184,134,11,0.5);
			text-align: center;
			border-radius:10px;
			box-shadow: 0px 0px 100px #4CF1BF;
			.fa-window-close{
				position: absolute;
				right: 10px;
				top: 10px;
				color: salmon;
				&:hover{text-shadow: 0px 0px 10px #FF0000;}
			}
			#popJudul{
				font-size: 30px;
				margin: 10px 0;
				display: inline-block;
			}
			#popGambar{
				height: 200px;
				width: 200px;
				margin:auto;
				img{
					border-radius: 100px;
					height: 100%;
					width: 100%;
				}
			}
			p{ font-size:20px;margin:5px 0;letter-spacing:3px;}
			#popHarga,#popJumlah{font-size: 26px;font-weight: bold;}
			
			.popTombol{
				// @include span(12);
				// position: relative;
				.row{
					// @include span(12);
					height: 100%;
					#popJumlah{
						display: inline-block;
						margin: 5px;
						margin-left: 10px;
					}
					button{
						font-size: 25px;
						margin: 10px 20px;
					}

				}
			}

		}
	}
}
// === Input > listMenu ===
.input{
	.listMenu{margin:5px;}
	.menu{
		@include span(4);
		height: 220px;
		padding:5px;
		text-align: center;
		// border:1px solid salmon;
		// background-color: #FFF;
		// position: relative;
	}
	.mBox{
		height: 70%;
		width: 100%;
		background-size: 100% auto;
		background-position: center center;
		transition: 0.05s;
		background-repeat: no-repeat;
		border-radius:5px;
		margin-bottom: 5px;
		&:hover{
			box-shadow: 0px 0px 50px grey;
			// background-size: 95% auto;
		}
		img{
			border-radius:5px;
			height: 100%;
			width: 100%;
		}

	}
	label{
		color: burlywood;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: capitalize;

		// border-bottom: 1px solid salmon;
		// line-height: 5px;
	}
	// .m1{background-color: aqua;}
	// .m2{background-color: lightcoral;}
	// .m3{background-color: springgreen;}
	// .m4{background-color: sandybrown;}
	// .m5{background-color: seashell;}
	// .m6{background-color: seagreen;}
}

// === Laporan ===
.laporanPage{
		min-height: 91vh;
		width: 100%;
		background-color: #4a4a4a;
		position: absolute;
		top: 9vh;
		display: none;
		z-index: 6;
	}


}