.fluid-container{
	@include container;
	border:2px solid grey;
}
.container{
	@include container(1140px);
	border:2px solid grey;
}

.row{
    @include span(12)
    // background-color: #808080;
}

body{
    background-color: #EEEEEE;
}

header{
    @include container;
    background-color: #404040;
    height:45px;
    color:#EEEEEE;

    .navigation{
        @include container(1140px);
        
    }
}
.footer{
    @include container;
    background-color: #404040;
    // height:20px;
    color:#EEEEEE;
}

.content{
    @include container(1140px);
    background-color: honeydew;
    // min-height:2000px;

    .foto{
    	@include span(3);
    	// border:1px solid black;
    	// height: 200px;
    	img{
			@include span(12 nest);
			height: 100%;
			width: 100%;
            border-radius: 20px;	
    	}

    }

    .info{
    	@include span(9)
    	height: 200px;
        font-size: 20px;
    	// border:1px solid black;
    }

    // .reel{
    // 	@include span(4);
    // 	height: 200px;
    // 	border:1px solid black;

    // }

    .showreel-list{
    	@include span(12 nest)
        h2{ 
            display: inline-block;
            a{color:black;}
            a:hover{color:salmon;}
        }
        
    	ul{padding:0;}
    	li{
    		@include span(4);
    		height: 200px;
    		text-align: center;
    		line-height: 200px;
    		list-style-type: none;
    		border:1px solid black;

    		a{
    			text-decoration: none;
    			color: teal;
    		}

    		a:hover{
    			background-color: aqua;
    			color: coral;
    			padding:5px;

    		}
    	}
    }
}