.hotelbook{
.row{
	background-color: lightblue;
	border:1px solid red;
	.col-5n{@include span(5 nest);}
	.col-4n{@include span(4 nest);}
	.col-3n{@include span(3 nest);}

}
.content{
	.roominfo{
		@include span(4);
		.Rada{background-color: lightgreen;}
		// .Rbook{display: none;}
	}
	.bookingpage{
		@include span(6);
	}
	.booklist{
		@include span(6);
	}
}

}