.buat-navigasi{
	header{
		@include span(12 nest);
		// height: 45px;
		position: fixed;
		top:0;
		right: 0;
		left: 0;
		.brand{
			// float: left;
			padding: 5px;
			i{color:red;}
			@include span(12);
			// border:1px solid red;
			text-align: center;
			h2{
				display: inline-block;
				margin: 0 5px;
			}
		}
		.navigation{
			// float: right;
			@include span(12)
			// border:1px solid red;
			background-color: salmon;
			height: 45px;
			line-height: 45px;
			margin:0;
			display: none;
			ul{
				margin:0;
				padding:0;
				text-align:center;
				li{
					@include span(1 of 3);
					// border:1px solid red;
					list-style-type: none;
					a{
						padding: 5px;
						text-decoration: none;
						color: white;
					}

				}
					li:hover a{
						border-bottom: 1px solid red;
						color:aqua;
					}
			}

		}
		.trigger{
			display: block;
			position: fixed;
			top: 0px;
			right: 0px;
			padding : 5px;
			border-radius:50px;
			&:hover{background-color: grey;}
		}

		// @include susy-breakpoint($tablet-size){}
		@include susy-breakpoint($desktop-size){
			.brand{
				@include span (3);
			}
			.navigation{
				@include span(4 nest);
				float: right;
				background-color: #404040;
				display: block;

				
			}
			.trigger{
				display: none;
			}	

		}
	}

	.content{
		// height: 2000px;
		// @include container(300px);

		padding-top:45px;
		.gambar{
			height: 300px;
			background-image: url("/img/bg-img4.jpg");
			background-size:auto 200%;
			// background-position: 50% 0;
			border-bottom:2px solid aqua;
			@include susy-breakpoint($desktop-size){
				height: 400px;
				background-size:100% auto;
			}
		}
	}
}