// $tablet-size:480px;
// $desktop-size:1024px;
.wrapper-bg-top{
	background-image: url("/img/bg-img3.jpg");
	@include span(12 nest);
	min-height:100vh;
	background-size: auto 100%;
	background-position: 58% center;
	background-repeat: no-repeat;
	
	.caption{
		h1{
			text-align: center;
			font-family: 'Neucha', cursive;
			font-size: 70px;
			color: rgba(255,127,80,0.7);
			// position: fixed;
			margin-top: 150px;
			// background-color: rgba(0,0,0,0.4);
		}
		p{
			text-align: justify;
			color: snow;
			padding: 20px;
			font-size: 12px;
			background-color: rgba(0,0,0,0.4);
			position: fixed;
			bottom: 0;
		}
	}

	@include susy-breakpoint($tablet-size){
		background-position: center left;
		.caption{
			h1{
				// background-color: #FFF;
				text-align: left;
				margin-top: 150px;
				padding: 20px;
				left:20px;
			}

			p{
				@include span(6);
				// color: red;
				font-size: 20px;
				padding:20px;
			}
		}
	}

	@include susy-breakpoint($desktop-size){
		@include span(12);
		background-position: center right;
		background-size :100%;
		background-color: #0157a2;
		.caption{
			h1{
				margin-top: 180px;
				text-align: right;
				// background-color: rgba(0,0,0,0.4);
				
			}
		}
	}
	
	// @include susy-breakpoint($tablet-size){
	// 	background-image: url("/img/bg-img.jpg");
	// 	background-size: auto 100%;
	// 	background-position: center;

	// 	.caption{
	// 		@include span(4)
	// 		color: snow;
	// 		background-color: rgba(0,0,0,0.4);
	// 		// position: fixed;
	// 		// bottom: 100px;
	// 		// right: 0;
	// 	}
	// }
	// @include susy-breakpoint($desktop-size){
	// 	background-image: url("/img/bg-img2.jpg");
	// 	background-size: auto 100%;
	// 	background-position: center;
	// 	.caption{
	// 		@include span(12)
	// 		color: red;
	// 		background-color: transparent;
	// 		// position: fixed;
	// 		// top: 250px;
	// 	}
	// }

	// .caption{
	// 	// @include span(12)
	// 	// background-color: rgba(0,0,0,0.4);
	// 	padding: 20px;
	// 	// margin:0;
	// 	// position: fixed;
	// 	// top: 250px;
		
	// }

}