.brand-list{
	ul{ 
		@include span(12);
		li{
			@include span(1 of 5)
			border: 2px dotted green;
			height: 200px;
			line-height: 200px;
			text-align: center;
			display: inline-block;
			font-size: 48px;	
		}
		li:hover{
			background-color: black;
			color: aqua;
			border-radius: 20px;
		}
		
	}	
}

.web-app{
	@include container(1020px);
	ul{
	// @include span(12);
		li{
			@include span (1.9);
			margin:span(0.05);
			// border: 5px dotted green;
			width: 150px;
			height: 150px;
			line-height: 150px;
			text-align: center;
			background-color: black;
			color:aqua;
			border-radius: 20px;
			display: inline-block;
			font-size: 48px;
		}

	
		li:hover{
			background-color: white;
		}
	}
}

.transport-ico{
	@include container(330px);
	// @include span(12);
	// background-color: snow;
	.kotak1{
		@include span(4);
		font-size: 48px;
		margin: 5px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		background-color: #315994;
		color: #c2f087;
		border-radius: 15px 50px;
		transition: 0.3s;
		
	}
	.kotak1:hover{
		border-radius :100px;
		background-color: black;
		font-size: 42px;
		color: aqua;
		// .fa-rocket{color:red;}
	}

}

.kotak2{
	@include container(330px);
	.kotak3{
		@include span(4);
		margin: 5px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		background-color: #315994;
		position: relative;

		i{
			display: block;
			width: 100%;
			line-height: 100px;
			// height: auto;
		}
		.overlay1{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #008CBA;
			overflow: hidden;
			width: 100%;
			height: 0;
			transition: .5s ease;
		}
		.overlay2 {
			position: absolute;
			bottom: 0;
			left: 100%;
			right: 0;
			background-color: #008CBA;
			overflow: hidden;
			width: 0;
			height: 100%;
			transition: .5s ease;
		}
		.overlay3 {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #008CBA;
			overflow: hidden;
			width: 0;
			height: 100%;
			transition: .5s ease;
		}
		.overlay4{
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			background-color: #008CBA;
			overflow: hidden;
			width: 100%;
			height: 0;
			transition: .5s ease;
		}
		.overlay5 {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #008CBA;
		}
		.tombol{
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			a{text-decoration:none;color:white;}
			.text {
				background-color: #4CAF50;
				line-height: 0;
				font-size: 16px;
				padding: 16px;
			}
		}
	}
	.kotak3:hover .overlay1 {
		height: 100%;
	}
	.kotak3:hover .overlay2 {
		width: 100%;
  		left: 0;
	}
	.kotak3:hover .overlay3 {
		width: 100%;
	}
	.kotak3:hover .overlay4 {
		height: 100%;
		bottom:0;
	}
	.kotak3:hover .overlay5 {
		opacity: 1;
	}
	.kotak3:hover{
		i{opacity: 0.3;}
		.tombol{opacity:1;}
	}
}