.kalkulator{

.content{
	@include container(800px);
	margin-top: 20px;
	min-height: 300px;
	background-color: #90D9E3;
	.input{
		@include span(6);
		background-color: #90D9E3;
		text-align: center;
		position: relative;

		.row{
			height: 70px;
		}

		a{
			text-decoration: none;
			color: black;
			padding:10px;
			margin: 5px;
			border-bottom: 3px double #FFE9D6;
			letter-spacing:2px;
			font-size: 18px; 


			&:hover{
				background-color: #DFF7CF;
			}
		}
	}

	.layar{
		@include span(6);
		background-color: #BFF69B;
		min-height: 400px;
		text-align: center;
		position: relative;
		padding-bottom: 60px;

		#kotakbuah{
			@include span(12);
		.buah{
			@include span(1);
			height: 35px;
			// width: 50px;
			// border: 1px solid red;
			margin: 5px 5px 0px 0px;
			display: inline-block;

		}}

		.jeruk{
			background-image: url("/img/ico/orange.svg");
			background-size: 100% 100%;
		}
		.apel{
			background-image: url("/img/ico/apple.svg");
			background-size: 100% 100%;
		}
		.strawberi{
			background-image: url("/img/ico/straw.svg");
			background-size: 100% 100%;
		}

		.tombol{
			@include span(12);
			height: 50px;
			position: absolute;
			// background-color: #FFF;
			bottom: 0px;
			left: 0px;
			text-align: right;
		}

		button{
			height: 30px;
			margin: 5px;
		}
	}

	.output{
		@include span(12);
		background-color: #FFCEA1;
		min-height: 130px;
		text-align: center;
		.row{
			@include span(12)
		}
		h3{
			margin: 5px;
		}
		.ktbuah {
			@include span(1 of 3)
			p{font-size: 20px;margin:0px;color:#8983EE;}
		}
		
	}
}

}