.showreel2{
	background-image: url("/img/bg-img7.jpg");
	background-size: auto 125%;
	background-position: center;
	background-attachment: fixed;
	.cover{
		@include container(90%);
		margin:auto;
		height: 100vh;
		background-color: ghostwhite;
		position: relative;
		opacity: 0.96;
		.kotak-r{
			@include span(10);
			height: 95%;
			background-color: #EEEEEE;
			position: absolute;
			top:2.5%;
			right: 30px;
			z-index: -1;
		}
		.kotak-l{
			@include span(10);
			height: 95%;
			background-color: #EEEEEE;
			position: absolute;
			top:2.5%;
			left: 30px;
			z-index: -1;
		}

		.teks-r{
			@include span(7);
			position: absolute;
			top:30%;
			left: 30px;
			p{
				margin:0;
				color: darkgrey;
			}
			h2{
				margin: 25px 10px;
				font-size: 42px;
			}

		}

		.showrell-list2{
			@include span(12 nest)
			.list2{
				@include span(4 nest);
				position: relative;
				top:20vh;
				float: right;
				// border: 1px solid red;
				ul{
					padding: 0;
					margin: 0;
					li{
						// border: 1px solid red;
						@include span(12);
						list-style: none;
						display: inline-block;
						font-size: 28px;
						padding:10px 20px;
						border-radius: 50px;
						&:hover{background-color: aqua;}
						a{text-decoration: none;}
					}
				}
			}
			#blackscreen{
				background-color: dimgrey;
				height: 100vh;
				width: 100%;
				position: fixed;
				top: 0;
				left: 0;
				z-index: -1;
				display: none;
			}

		}


		// .navigasi{
		// 	@include span(12);
		// 	background-color: aqua;
		// 	height: 45px;
		// 	position: absolute;
		// 	top:0;
		// }
	}
	
	.bio{
		@include container(1140px);
		// height: 500px;
		padding: 70px 0px;
		.foto{
	    	@include container(200px);
	    	img{
				border-radius: 200px;
				height: 100%;
				width: 100%;	
	    	}

	    }

	    .info{
	    	@include container(800px);
	    	padding: 2px 5px;
	        font-size: 20px;
	        background-color: white;
	        border-radius: 20px;
	        opacity: 0.8;
	        text-align: justify;
	    	
	    }

	}
}