.tes1b{

i{color:black;}

header{
	@include container;
	position: fixed;
	top:0;
	width: 100%;
	// height:45px;
	background-color:white;
	box-shadow: 0px 3px 10px #888888;
	// display:none;
	
	.navigasi{
		@include container(1440px);
		// position: relative;
		// top:0;
		// background-color: #FFF;
		.brand{
			@include span(12);
			// padding-top: 5px;
			
			text-align: center;
			h1{
				display: none;
				margin: 0;
			}
			#ibrand{
				display: inline-block;
				// position: absolute;
				// top: 0;
				height: 45px;
				line-height: 44px;
				background-color: red;
			}
		}

		.menu{
			li{list-style: none;}
			a{text-decoration: none;}
		}
		#icari{display: none;}
	}

	@include susy-breakpoint($desktop-size){
		color:black;
		height: 45px;
		.navigasi{
			@include container(1440px);
			line-height: 44px;
			.brand{
				@include span(2);
				// padding-top:0;
				text-align: left;
				h1{display: inline-block;}
				#ibrand{display: none;}
			}
			#icari{
				@include span(1);
				display: inline-block;
				line-height: 44px;
				color: grey;
			}

			.menu{
				@include span(8 nest);
				border: 1px solid blue;
				// position: relative;
				ul{
					padding:0;
					margin: 0;
					li{
						@include span(1 of 4);
						border: 1px solid red;
						
						display: inline-block;
						ul{
							padding:0;
							margin: 0;
							// border: 1px solid blue;
							li{	
								@include span(12);
								display: block;
								height: 40px;
								ul{
									position: relative;
									left:150px;
									top:-40px;
								}

							}
						}
					}
				}
			}
			
		}
	}
}

}