@import url('https://fonts.googleapis.com/css?family=Roboto');
.tes1-kom{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	ul{
		margin:0;
		padding: 0;
		li{
			list-style: none;
			display: inline-block;
		}
	}
	
	header{
		width: 100%;
		background-color: white;
		box-shadow: 0px 3px 10px #888888;
		position: fixed;
		top: 0;



		.navigation{
			@include span(12);
			line-height: 44px;
			.brand{
				@include span(12);
				text-align: center;
				// border: 1px solid red;
				
				h1{
					color: black;
					margin:0;
					font-weight: normal;
					display: none;
				}
				i{
					color: black;
					margin-top: 5px;
					font-size: 32px;
					display: block;
					position: relative;

				}
			}
			.menu{
				@include span(12 nest);
				display: none;
				height: 100vh;
				background-color: black;
				opacity: 0.9;
				position: fixed;
				z-index: 0;
				
				
				ul{
					@include container(200px);
					position: relative;
					top: 30vh;
					// border:1px solid green;
					li{
						@include span(12);
						font-size: 18px;
						text-align: center;
						border-bottom: 1px solid red;
						a{	
							color:white;
							text-decoration: none;
						}
						#cari{
								display: none;
							}
						
					}
				}
			}
			.triger-menu{
				position: fixed;
				top: 5px;
				left: 10px;
				i{
					color: black;
					font-size: 32px;
				}
			}
		}
		@include susy-breakpoint($desktop-size){
			.navigation{
				@include container(1440px);
				.brand{
					@include span(3);
					h1{display: block;}
					i{display: none;}

				}
				.menu{
					@include span(9 nest);
					display: block;
					position: static;
					height: 44px;
					background-color: #fff;
					ul {
						@include container;
						position: static;
						li{	
							@include span(1 of 5);
							border-bottom: none;
							// border: 1px solid red;
							&:hover{background-color: grey;}
							
							a{
								color:black;
								text-decoration: none;						
							}

							#cari{
								display: inline-block;
							}
						}
						.d-menu{
							position: relative;
							.dm-con{
								// border: 1px solid red;
								@include span(12);
								position: absolute;
								display: none;
								top:46px;
								left:0;
								background-color: honeydew;
								box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
								li{display: inline-block;}

								a{
									display: block;
									&:hover{background-color: gainsboro;}

								}
							}
							&:hover .dm-con{display: block}
						}
					}
					
				}
				.triger-menu{display: none;}

			}

		}
	}

	.content{
		@include container(1440px);
		padding-bottom:75px;
		.judul1{
			height: 100px;
			letter-spacing: 7px;
			word-spacing: 7px; 
			line-height: 100px;
			text-align: center;
		}
		.galeri{
			@include span(12);
			ul li{
				@include span(6);
				text-align: center;
				.tgl{
					font-size: 12px;
					padding-bottom: 10px;
				}
				.gambar{
					@include span(12)
					height: 150px;
					display: inline-block;
				}
				h2{
					margin-top: 20px;
					display: inline-block;
					font-weight: 500;
					font-size: 16px;
				}
				p{
					padding-bottom: 40px;
					line-height: 30px;
					text-align: left;
					display: none;					
				}
			}

		}
		@include susy-breakpoint($desktop-size){
			padding-bottom:150px;
			.judul1{
				height: 150px;
				line-height: 200px;
			}
			.galeri{
				ul li{
					@include span(4);
					.tgl{
					font-size: 12px;
					padding-bottom: 10px;
					}
					.gambar{
						@include span(12)
						height: 250px;
						display: inline-block;
					}
					h2{
						font-size: 22px;
					}
					p{
						display: inline-block;					
					}
				}
			}
		}

	}
	.halaman{
		display: none;
		@include susy-breakpoint($desktop-size){
			width: 100%;
			text-align: center;
			position: fixed;
			bottom:46px;
			display: inline-block;
			.hal-kotak{
				@include container(300px);
				background-color: rgba(	240,255,255,0.6);
				// border:1px solid grey;

			p, ul{display: inline-block;margin:0;}
			p, ul li{
				padding : 10px;
				font-size: 20px;
				&:hover{
					background-color: aqua;
				}
			}
			}
		}
	}
	.footer{
		background-color: #f2f2f2;
		p{
			@include container(1440px);
			border-bottom:1px solid grey;
			margin-top:0;
			margin-bottom: 0;
			padding: 10px;
			font-size: 12px;
			color: #0a0a0a;
		}
		@include susy-breakpoint($desktop-size){
			p{
				padding: 10px 0;
				font-size: 20px;
				color: #0a0a0a;

			}
		}
	}

}